<div class="Box_Python">
    <img class="logo_Python" src="/assets/img/Python-logo.png" alt="" />
</div>
<div class="Box_JS">
    <img class="logo_JS" src="/assets/img/js-logo.png" alt="" />
</div>
<div class="Box_CSS">
    <img class="logo_CSS" src="/assets/img/css3-logo.png" alt="" />
</div>
<div class="Box_HTML">
    <img class="logo_HTML" src="/assets/img/html-logo.png" alt="" />
</div>
<div class="Box_JAVA">
    <img class="logo_JAVA" src="/assets/img/Java-logo.png" alt="" />
</div>
<div class="Box_CSHARP">
    <img class="logo_CSHARP" src="/assets/img/csharp-logo.png" alt="" />
</div>
<div class="Box_SQLServer">
    <img class="logo_SQLServer" src="/assets/img/SQLServer-logo.png" alt="" />
</div>
<div class="div-infos">
    <h4 class="me-infos">Je suis</h4>
    <h1 class="title-center">WEBER ALDWIN</h1>
    <h4 class="dev-infos"><span id="element"></span></h4>
</div>
