<nav class="navbar">
    <ul class="list-navbar">
        <img class="pic-navbar" src="/assets/img/moi.jpg" alt="photo" />
        <li class="content-navbar"><a aria-current="page" href="#contact">Contact</a></li>
        <li class="content-navbar"><a aria-current="page" href="#veille">Veille</a></li>
        <li class="content-navbar"><a aria-current="page" href="#projets">Projets</a></li>
        <li class="content-navbar"><a aria-current="page" href="#accueil">Accueil</a></li>
    </ul>
</nav>
