<div class="projets" id="slider">
    <div id="precedent" onclick="ChangeSlide(-1)"><</div>
    <div id="suivant" onclick="ChangeSlide(1)">></div>
        <div class="slides-container"></div>
            <!-- PROJET ATTUL -->
            <div class="projet_item" id="slide">
                <div class="projet_information">
                    <h1>ATTUL</h1>
                    <div class="projet_languages">
                        <span>JAVA</span>
                        <span>JAVAFX</span>
                    </div>
                    <div class="projet_description">
                        <p>
                            Logicel Informatique, qui contenait plusieurs outils pour faire en sorte d’améliorer les
                            performances de l’ordinateur, nettoyer les fichiers du pc, nettoyer les virus, faire un
                            Benchmark, faire un speedtest et voir les composants de la machine.
                        </p>
                    </div>
                </div>
                <img src="/Portfolio.V1.1/assets/img/IMG-ATTUL.png" alt="">
            </div>
            <!-- PROJET DRIVER API -->
            <div class="projet_item" id="slide">
                <div class="projet_information">
                    <h1>Driver API</h1>
                    <div class="projet_languages">
                        <span>JavaScript</span>
                    </div>
                    <div class="projet_description">
                        <p>
                            Logiciel Informatique, qui permettait de mettre à jour les différents pilotes de
                            l’ordinateur, nous étions trois sur le projet et nous devions donc récupérer tous les
                            drivers de différents sites (ex: AMD, NVIDIA,...).
                        </p>
                    </div>
                </div>
                <img src="/Portfolio.V1.1/assets/img/IMG-DRIVERS.png" alt="">
            </div>
            <!-- PROJET IFC GAMES -->
            <div class="projet_item" id="slide">
                <div class="projet_information">
                    <h1>IFC GAMES</h1>
                    <div class="projet_languages">
                        <span>JAVA</span>
                    </div>
                    <div class="projet_description">
                        <p>
                            Serveur Minecraft en Java, pour y jouer avec nos amis, nous étions deux sur le projet, avec
                            dessus des mini-jeux, des petites commandes amusantes pour les joueurs.
                        </p>
                    </div>
                </div>
                <img src="/Portfolio.V1.1/assets/img/IMG-IFC.png" alt="">
            </div>

            <!-- PROJET IA Fridge -->
            <div class="projet_item" id="slide">
                <div class="projet_information">
                    <h1>IA Fridge</h1>
                    <div class="projet_languages">
                        <span>JAVA</span>
                    </div>
                    <div class="projet_description">
                        <p>
                            Une application sur téléphone, qui permettait avec une photo du frigo ouvert, de scanner
                            tous les produits et grâce à une Intelligence Artificielle et une base de données, de
                            rechercher la meilleure recette avec les ingrédients qu’on possède. Projet en cours
                        </p>
                    </div>
                </div>
                <img src="/Portfolio.V1.1/assets/img/IMG-IAFridge.png" alt="">
            </div>
            <div class="projet_item" id="slide">
                <div class="projet_information">
                    <h1>Bot Discord</h1>
                    <div class="projet_languages">
                        <span>Python</span>
                        <span>Discord.py</span>
                    </div>
                    <div class="projet_description">
                        <p>
                            Bot sur l’application Discord qui permet de s’amuser sur des serveurs (Mini-jeux). Projet en
                            cours
                        </p>
                    </div>
                </div>
                <img src="/Portfolio.V1.1/assets/img/IMG-BOTDiscord.png" alt="">
            </div>
            <div class="projet_item" id="slide">
                <div class="projet_information">
                    <h1>OneManga</h1>
                    <div class="projet_languages">
                        <span>HTML/CSS</span>
                        <span>JavaScript</span>
                    </div>
                    <div class="projet_description">
                        <p>
                            Ce projet était un projet en cours, nous étions deux sur le projet, c'est un site vitrine
                            qui permet d'acheter des mangas
                            selon leur catégories.
                        </p>
                    </div>
                </div>
                <img src="/Portfolio.V1.1/assets/img/IMG-OneManga.png" alt="">
            </div>
        </div>
    
</div>