<div class="projets">
    <div class="slides-container"></div>
    <!-- PROJET BURGBAD -->
    <div class="projet_item">
        <div class="projet_information">
            <h1>Burgbad projet</h1>
            <div class="projet_languages">
                <span>VBA</span>
                <span>SQLServer</span>
            </div>
            <div class="projet_description">
                <p class="desc-burg">Ce projet était à faire durant ma période de stage. C'est un logiciel Informatique, pour gérer les clients et ainsi créer des devis facilement, gestion d'un CRUD et gestion d'une base de données.</p>
            </div>
        </div>
        <img src="/assets/img/IMG-BURG.jpg" alt="" />
    </div>
    <!-- PROJET OneManga -->
    <div class="projet_item">
        <div class="projet_information">
            <h1>OneManga</h1>
            <div class="projet_languages">
                <span>HTML/CSS</span>
                <span>JavaScript</span>
                <span>PHP</span>
            </div>
            <div class="projet_description">
                <p>Ce projet était à faire en cours, nous étions deux sur le projet. C'est un site vitrine qui permet d'acheter des mangas selon leur catégories.</p>
            </div>
        </div>
        <img src="/assets/img/IMG-OneManga.png" alt="" />
    </div>
</div>