<nav class="social-navbar">
    <ul class="social-li-navbar">
        <li class="social-content-navbar"><a aria-current="page" href="https://www.linkedin.com/in/aldwin-weber-62028023a/"><img src="/assets/img/linkedin.webp" alt="LinkdIn"></a></li>
        <li class="social-content-navbar"><a aria-current="page" href="https://github.com/ELAkahira"><img src="/assets/img/Github-logo.webp" alt="Github"></a></li>
        <li class="social-content-navbar"><a aria-current="page" href="https://www.instagram.com/qldwin/"><img src="/assets/img/Instagram-logo.webp" alt="Instagram"></a></li>
    </ul>
</nav>
