.description{
    margin-left: 20vw;
    margin-right: 20vw;
}

.description p {
    text-align: left;
    font-size: 1.5rem;
}

.div-social-media {
    margin-top: 15vh;
    text-align: center;
}

.social-media{
    box-shadow: 0px 1px 0px 0px #ccc inset;
    width: 5%;
    border-style: none;
    display: flex;
    justify-content: center; /* Centre les icônes */
    align-items: center;
    margin: 0 auto; /* Centre la div social-media */
    gap: 10px;
}

.logo-social-media {
    margin-top: 2vh;
    width: 40px;
    height: 40px;
}

.download-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    padding: 10px 20px;
}

.download-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffffff;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}
.download-link:hover {
    color: #aaaaaa;
}
.download-link:hover::after {
    width: 100%;
}


@media (max-width: 950px) {

    .section-body#about{
        min-height: 180vh;
    }

}