.contacts-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 40px 20px;
}

.Box_Contacts {
    pointer-events: auto;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 10vh;
}

.Box_Contacts h1 {
    background: transparent;
    box-shadow: -4px 4px 0px 0px #cccccc inset;
    width: 100%;
    height: 56px;
    text-align: center;
    line-height: 100px;
    border-style: none;
}

.Box_Contacts form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.Box_Contacts input {
    height: 48px;
}

.Box_Contacts input,
textarea {
    margin-top: 32px;
    border-radius: 8px;
    color: #000;
    border: 1px solid #858c94;
    background: rgba(255, 255, 255, 0.7);
}

.Box_Contacts textarea {
    height: 128px;
    resize: none;
}

.social-navbar {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 2vh;
    bottom: 50vh;
}

.social-li-navbar {
    list-style-type: none;
}


@media screen and (max-width: 1024px) {
    .Box_Contacts {
        width: 85vw;
    }
}

@media screen and (max-width: 375px) {
    .Box_Contacts {
        width: 85vw;
    }
}