.contacts-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 40px 20px;
}

.Box_Contacts {
    pointer-events: auto;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.Box_Contacts h1 {
    background: transparent;
    box-shadow: -4px 4px 0px 0px #cccccc inset;
    width: 55vw;
    height: 56px;
    text-align: center;
    line-height: 100px;
    border-style: none;
    border-radius: 0.3rem;
    padding-top: 1vh;
}

.Box_Contacts form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.text-input {
    height: 48px;
}

.text-input,
textarea {
    padding-right: 10px;
    padding-left: 10px;
    background: transparent;
    margin-top: 32px;
    border-radius: 0.3rem;
    color: #fff;
    border: 3px solid #ccc;
    font-size: 0.9rem;
}

textarea {
    padding-right: 10px;
    padding-top: 10px;
    height: 128px;
    resize: none;
}

.submit{
    font: inherit;
    background: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    padding: 10px 50px;
    margin-top: 3vh;
    cursor: pointer;
}

.submit:after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffffff;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.submit:hover{
    color: #aaaaaa;
}

.submit:hover::after{
    width: 100%;
}

.text-input:focus, textarea:focus{
    outline: none;
}

@media screen and (max-width: 1024px) {
    .Box_Contacts {
        width: 85vw;
    }
}

@media (max-width: 950px) {
    .Box_Contacts h1{
        width: 90vw;
    }
}

@media screen and (max-width: 375px) {
    .Box_Contacts {
        width: 85vw;
    }
}