.projects-card-visit {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
    gap: 30px;
    justify-items: center;
}

.card {
    background-color: #333;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.card-header h2 {
    color: #cccccc;
    font-size: 22px;
    margin-bottom: 10px;
}

.project_languages {
    display: flex;
    flex-wrap: wrap;
}

.project_languages span {
    background-color: #444;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 8px;
    margin-bottom: 5px;
    color: #cccccc;
    font-size: 14px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.button-container {
    margin-top: 15px;
    margin-left: auto; /* Aligne le bouton à droite */
}

.card-body p {
    color: #cccccc;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
}

.project-button {
    padding: 10px 20px;
    background-color: #333;
    color: #cccccc;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    border: none; /* Suppression des styles de bordure par défaut */
    cursor: pointer;
    text-decoration: none;
}

.project-button:hover {
    background-color: #444;
}

.project-button:active {
    transform: scale(1);
}

/* Style pour le bouton désactivé */
.project-button.disabled {
    background-color: #333;
    color: #ccc;
    cursor: not-allowed;
    transform: none; /* Pas d'effet au survol ou au clic */
}

.project-button.disabled:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    .projets-carte-visite {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 950px) {

    .section-body#projects {
        min-height: 280vh;
    }

    .card {
        width: 75%;
    }
}

@media (max-width: 480px) {
    .projects-card-visit {
        margin-top: 10vh;
    }
}