@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: #24252a;
    font-family: "Poppins", serif;
    color: #cccccc;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
}

.list-navbar {
    list-style-type: none;
    display: flex;
    line-height: 5;
    white-space: nowrap;
}

.pic-navbar {
    width: 7%;
    clip-path: ellipse(50% 40%);
}

.pic-navbar-list {
    list-style-type: none;
}

.content-navbar {
    margin: 0.5vw;
    margin-right: 5vw;
    display: inline;
    float: right;
}

ul li a {
    text-decoration: none;
    color: #cccccc;
}

ul li a:hover {
    text-decoration: underline;
}

.div-infos {
    margin-top: 25vh;
    margin-left: 25vw;
    width: 50%;
}

.me-infos {
    font-size: 25px;
    margin-left: 10vw;
}

.title-center {
    text-align: center;
    font-size: 90px;
    text-shadow: 2px 2px 2px black;
}

.dev-infos {
    font-size: 25px;
    margin-left: 30vw;
}

.section-body {
    min-height: 100vh;
    scroll-behavior: smooth;
    margin: 0;
    padding: 70px 0;
    box-sizing: border-box;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.section-body.active {
    transform: translateY(0);
}

.description p {
    margin-top: 10vh;
    text-align: center;
    font-size: 1.5rem;
}



