@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #24252a;
    font-family: "Poppins", serif;
    color: #cccccc;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 95;
    display: flex;
    backdrop-filter: blur(5px);
}

.list-navbar {
    list-style-type: none;
    display: flex;
    line-height: 5;
    white-space: nowrap;
    right: 0;
    position: absolute;
}

.pic-navbar {
    width: 50%;
    clip-path: ellipse(50% 50%);
}

.pic-navbar-list {
    list-style-type: none;
}

.content-navbar {
    margin: 0.5vw;
    margin-right: 5vw;
    display: inline;
    float: right;
}

ul li a {
    text-decoration: none;
    color: #cccccc;
}

ul li a:hover {
    text-decoration: underline;
}


.div-infos {
    margin-top: 25vh;
    margin-left: 25vw;
    width: 50%;
}

.me-infos {
    font-size: 25px;
    margin-left: 10vw;
}

.title-center {
    text-align: center;
    font-size: 90px;
    text-shadow: 2px 2px 2px black;
}

.dev-infos {
    font-size: 25px;
    margin-left: 30vw;
}

.section-body {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    scroll-margin-block-start: 150px;
}

.section-body#projects{
    height: 550vh;
}

.hamburger{
    display: none;
}

@media (max-width: 950px){
    .hamburger {
        z-index: 99;
        text-decoration: none;
        position: fixed;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40px;
        margin-right: 20px;
        top: 4vh;
        right: 0;
    }

    .bar1, .bar2, .bar3 {
        width: 100%; /* Les barres prennent toute la largeur de la div */
        height: 2px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .bar1 {
        top: 0;
    }

    .bar2 {
        top: 15px; /* Espacement entre les barres */
    }

    .bar3 {
        top: 30px; /* Espacement entre les barres */
    }

    /* Styles pour la croix */
    .change .bar1 {
        transform: rotate(-45deg) translate(-10px, 10px);
        top: 15px; /* Positionner la barre au milieu */
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-10px, -10px);
        top: 15px; /* Positionner la barre au milieu */
    }

    .list-navbar {
        display: none; /* Cache la navbar desktop */
        flex-direction: column;
        background-color: #323232;
        height: 100vh;
        width: 70vw;
        position: fixed;
        top: 0;
        transition: top 1s ease;
    }

    .list-navbar.active {
        display: flex;
        left: 0;
        width: 100%;
        z-index: 80;
    }

    .menu-navbar {
        flex-direction: column;
        justify-content: center;
        padding-top: 5vh;
        gap: 20px;
    }

    .menu-navbar a {
        font-size: 1.5rem;
        padding: 10px 20px;
        width: 100%;
        text-align: center;
        display: inline-block;
    }

    .menu-navbar a:active {
        border-radius: 10px;
    }

    .dropdown-container {
        width: 100%;
    }

    .dropdown-container:active .dropdown-menu {
        display: block;
    }

    .dropdown-container:active {
        position: relative;
        display: inline-block;
    }

    .div-infos{
        margin-left: 15vw;
    }

    .dev-infos{
        margin-left: 0;
    }

}