@import "./projects.css";
@import "./header_languages_bubbles.css";

body {
    margin: 0;
    background-color: #24252a;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.list-navbar {
    list-style-type: none;
    display: flex;
}

.pic-navbar {
    width: 5%;
    border-radius: 1em;
    margin-right: 65vw;
}

.content-navbar {
    margin: 0.5vw;
    margin-right: 5vw;
    display: inline;
    float: right;
}

ul li a {
    text-decoration: none;
    color: inherit;
    font-family: "Cera CY Regular";
    color: #cccccc;
}

ul li a:hover {
    font-family: "Cera CY Regular";
    color: #cccccc;
    text-decoration: overline;
    text-decoration: underline;
    text-shadow: 2px black;
}

/* --------HALO LUMINEUX-------- */
/* .blur-container {
    position: absolute;
    top: calc(50% - 35vh);
    left: calc(50% - 20vw);
    width: 40px;
    height: 40px;
    border-color: #cccccc;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 60px 30px #ccc, 0 0 250px 90px rgb(160, 160, 160);
} */
/* ----------------------------- */

.div-infos {
    margin-top: 25vh;
    margin-left: 25vw;
    width: 50%; 
}

.me-infos {
    font-family: "Cera CY Regular";
    color: #cccccc;
    font-size: 25px;
    margin-left: 10vw;
}

.title-center {
    font-family: "Cera CY Regular";
    color: #cccccc;
    text-align: center;
    font-size: 90px;
    text-shadow: 2px 2px 2px black;
}

.dev-infos {
    font-family: "Cera CY Regular";
    color: #cccccc;
    font-size: 25px;
    margin-left: 30vw;
}

.section-body {
    min-height: 100vh;
    scroll-behavior: smooth;
    margin-top: -70px;
    padding-top: 70px;
    
}


.social-navbar {
    position: fixed;
    top: 75vh;
    left: 0;
    z-index: 999;
    
}

.social-li-navbar{
    list-style-type: none;
}

ul li a img {
    width: 8%;
    border-radius: 1em;
    margin-bottom: 2vh;
}

.desc-burg{
    color: black;
}

/* #iframe 
{ 
    position: absolute; 
    float: left; 
    clear: both; 
    width: 100%; 
    height: 350%; 
    z-index: 0;
     
} */