body {
    margin: 0;
    background-color: #24252a;
}

.navbar {
}

.list-navbar {
    list-style-type: none;
    display: flex;
}

.pic-navbar {
    width: 6%;
    border-radius: 1em;
    height: 9vh;
    margin-right: 65vw;
}

.content-navbar {
    margin: 0.5vw;
    margin-right: 5vw;
    display: inline;
    float: right;

    font-family: "Cera CY Regular";
    color: #cccccc;
}

.blur-container {
    position: absolute;
    top: calc(50% - 35vh);
    left: calc(50% - 20vw);
    width: 40px;
    height: 40px;
    border-color: #cccccc;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 60px 30px #ccc, 0 0 250px 90px rgb(160, 160, 160);
}


.div-infos {
    margin-top: 7vw;
    margin-left: 25vw;
    width: 50%;
    padding: 10px;
}

.me-infos {
    font-family: "Cera CY Regular";
    color: #cccccc;
    font-size: 15px;
    margin-left: 10vw;
}

.title-center {
    font-family: "Cera CY Regular";
    color: #cccccc;
    text-align: center;
    font-size: 90px;
}

.dev-infos {
    font-family: "Cera CY Regular";
    color: #cccccc;
    font-size: 15px;
    margin-left: 30vw;
}
