body {
    margin: 0;
    background-color: #24252a;
}

.blur-container {
    background-color: #cccccc;
    filter: blur(12vw);
}

.div-infos {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.title-center {
    font-family: "Cera CY Regular";
    color: #cccccc;
}
